@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.delete-form {
    display: inline;  
}
.navbar-default .navbar-brand{
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
p {
    font-size: 18px;
}
body {
    font-family: raleway
}
.thumbnail img{
    max-height: 250px;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;   
}
ol {
    font-size: 18px; 
}
.caption-full p:nth-of-type(1) {
    white-space: pre-wrap;
}
